<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add product</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Shop</a></li>
                <li><a href="/addproduct">Addproduct</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <form action="/addproduct" method="post">
            <input type="text" name="title">
            <input type="text" name="size">
            <button type="submit">Add product</button>
        </form>
    </main>
</body>
</html>